body {
  background-color: #F0F0F0;
  color: #102438;
  font-family: "raleway", sans-serif;
  margin: 0;
}
body.night {
  background-color: #102438;
  color: #DDDDDD;
}
span.emphasis {
  color: #40C8C2;
  font-weight: 600;
}
a {
  text-decoration: none;
  color: #EE559C;
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  -webkit-transition-property: color;
  -webkit-transition-duration: .2s;
  -webkit-transition-timing-function: linear;
}
.night a {
  color: #DA83FF
}
p {
  margin-top: 0px;
  transition-property: opacity;
  transition-duration: .2s;
  transition-timing-function: linear;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: .2s;
  -webkit-transition-timing-function: linear;
  transform-origin: 0% 0%;
}
p, h2, h4, h5, h6 {
  margin-left: 20px;
}
h1 {
  font-weight: 500;
  font-size: 3em;
  text-align: center;
}
h3 {
  text-transform: lowercase;
  text-align: center;
  font-weight: 500;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.3em;
  color: #26435F;
  width: 100%;
}
h4 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.15em;
  max-width: 350px;
  display: block;
  margin: auto;
}
.night h3 {
  color: #FFFFFF;
}
.panel {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 5px 20px;
  display: block;
  font-size: 0.8em;
  color: #707C88;
  font-weight: 500;
  max-width: 350px;
  margin: 20px auto 20px auto;
  box-sizing: border-box;
}
.month {
  max-width: 350px;
  height: 250px;
  display: block;
  margin: auto;
}
.day {
  max-width: 13%;
  height: 20%;
  background-color: #26435F;
  box-sizing: border-box;
  display: inline-block;
}
@media only screen and (max-width: 350px) {
  .panel, h4, .month {
    margin: 20px;
  }
}
.night .panel {
  background-color: #26435F;
  color: #BDC6CF;
}
.panel p, .panel h3 {
  margin-left: 0px;
  text-align: left;
  width: auto;
}
.panel.selected {
  border: 2px solid #EE559C;
  transition-property: border;
  transition-duration: .2s;
  transition-timing-function: linear;
  -webkit-transition-property: border;
  -webkit-transition-duration: .2s;
  -webkit-transition-timing-function: linear;
}
.night .panel.selected {
  border: 2px solid #DA83FF;
}
.panel.special {
  background-color: #40C8C2;
  color: #ffffff;
}
.panel.special h3 {
  color: #ffffff;
}
.panel i.material-icons {
  color: #26435F;
}
.night .panel i.material-icons {
  color: #FFFFFF;
}
.panel.special i.material-icons {
  color: #FFFFFF;
}
.night .panel.special i.material-icons {
  color: #FFFFFF;
}
i.material-icons {
  vertical-align: middle;
  margin-right: 0.25em;
}
i.material-icons::selection {
  background: transparent;
}
.collapsed {
  opacity: 0;
}
.panel i.material-icons.expand-collapse {
  font-size: 18px;
  float: right;
  margin-top: 11px;
  margin-right: -8px;
  color: rgba(38, 67, 95, 0.2);
  cursor: pointer;
}
.night .panel i.material-icons.expand-collapse {
  color: rgba(255, 255, 255, 0.2);
}
.panel.special i.material-icons.expand-collapse, .night .panel.special i.material-icons.expand-collapse {
  color: rgba(255, 255, 255, 0.4);
}
footer p {
  text-align: center;
  margin-left: 0px;
}
/*Vertical Mobile*/
@media only screen and (max-width: 600px) {
  #day-night-toggle {
    text-align: center;
  }
}
/*Horizontal Mobile & Tablets*/
@media only screen and (min-width: 601px) and (max-width:1000px) {
  #day-night-toggle {
    float: right;
  }
}
/*Desktop*/
@media only screen and (min-width: 1001px) {
  #day-night-toggle {
    float: right;
  }
}
