body {
  background-color: #102438;
  color: #DDDDDD;
  font-family: "raleway", sans-serif;
}
span.emphasis {
  color: #40C8C2;
  font-weight: 600;
}
a {
  text-decoration: none;
  color: #DA83FF;
}
p {
  margin-top: 0px;
}
p, h1, h2, h3, h4, h5, h6 {
  margin-left: 20px;
}
h1 {
  font-weight: 400;
  font-size: 3em;
  font-align: center;
}
h3 {
  text-transform: lowercase;
  font-weight: 500;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.3em;
}
.panel {
  background-color: #26435F;
  border-radius: 10px;
  padding: 5px 20px;
  display: inline-block;
  font-size: 0.8em;
  color: #BDC6CF;
  font-weight: 500;
}
.panel.selected {
  border: 2px solid #DA83FF;
}
.panel.special {
  background-color: #40C8C2;
  color: #ffffff;
}
