/* Day/Night Mode Styling */
body {
  background-color: #F0F0F0;
  color: #102438;
}
body.night {
  background-color: #102438;
  color: #DDDDDD;
}
a {
  color: #EE559C;
}
.night a {
  color: #DA83FF;
}
h3 {
  color: #26435F;
}
.night h3 {
  color: #FFFFFF;
}
.panel {
  background-color: #FFFFFF;
  color: #707C88;
}
.night .panel {
  background-color: #26435F;
  color: #BDC6CF;
}
.panel.selected {
  border: 2px solid #EE559C;
}
.night .panel.selected {
  border: 2px solid #DA83FF;
}
.panel i.material-icons {
  color: #26435F;
}
.night .panel i.material-icons {
  color: #FFFFFF;
}
.month .day div, .week .day div {
  background-color: #E2E3E4;
}
.night .month .day div, .night .week .day div {
  background-color: #26435F;
}
.month .day.first div, .week .day.first div {
  background-color: #40C8C2;
}
.night .month .day.first div, .night .week .day.first div {
  background-color: #40C8C2;
}
.month .day.last div, .week .day.last div {
  background-color: #40C8C2;
}
.night .month .day.last div, .night .week .day.last div {
  background-color: #40C8C2;
}
.month .day.ineligible div, .week .day.ineligible div {
  background-color: #F0F0F0;
}
.night .month .day.ineligible div, .night .week .day.ineligible div {
  background-color: #102438;
}
.month .day.today div, .week .day.today div {
  background-color: #EE559C;
}
.night .month .day.today div, .night .week .day.today div {
  background-color: #DA83FF;
}
.month .day.selected div, .week .day.selected div {
  border: 3px solid rgba(38, 67, 95, 1);
}
.night .month .day.selected div, .night .week .day.selected div {
  border: 3px solid rgba(255, 255, 255, 1);
}
.panel i.material-icons.expand-collapse {
  color: rgba(38, 67, 95, 0.2);
}
.night .panel i.material-icons.expand-collapse {
  color: rgba(255, 255, 255, 0.2);
}
nav {
  background-color: #EBEBEB;
  color: #102438;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
}
.night nav {
  background-color: #26435F;
  color: #DDDDDD;
  box-shadow: 0px 0px 50px #102438;
}
nav a {
  color: #102438;
}
.night nav a {
  color: #DDDDDD;
}
nav a:after {
  background-color: #102438;
}
.night nav a:after {
  background-color: #DDDDDD;
}
nav a.selected:after {
  background-color: #EE559C;
}
.night nav a.selected:after {
  background-color: #DA83FF;
}
.bar .color-fill {
  background-color: #EE559C;
}
.night .bar .color-fill {
  background-color: #DA83FF;
}
.bar {
  background-color: #E2E3E4;
}
.night .bar {
  background-color: #26435F;
}  
p.caption {
  color: #707C88;
}
.night p.caption {
  color: #BDC6CF;  
}
i.material-icons#night-mode {
   display: none;
}
.night i.material-icons#day-mode {
  display: none;
}
i.material-icons#day-mode {
   display: inline-block;
}
.night i.material-icons#night-mode {
  display: inline-block;
}
.accordion ul li {
  border-bottom: 2px solid #E2E3E4;
}
.night .accordion ul li {
  border-bottom: 2px solid #26435F;
}

/* General Styles */
body {
  font-family: "raleway", sans-serif;
  margin: 0;
}
span.emphasis {
  color: #40C8C2;
  font-weight: 600;
}
p {
  margin-top: 0px;
  transition-property: opacity;
  transition-duration: .2s;
  transition-timing-function: linear;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: .2s;
  -webkit-transition-timing-function: linear;
  transform-origin: 0% 0%;
}
p.caption {
  text-align: center;
  font-size: 0.8em;
  font-weight: 500;
}
p, h2, h4, h5, h6 {
  margin-left: 20px;
}
h1 {
  font-weight: 500;
  font-size: 3em;
  text-align: center;
}
h3 {
  text-transform: lowercase;
  text-align: center;
  font-weight: 500;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.3em;
  color: #26435F;
  width: 100%;
}
h4 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.15em;
  max-width: 350px;
  display: block;
  margin: 20px auto 20px auto;
}
a {
  text-decoration: none;
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  -webkit-transition-property: color;
  -webkit-transition-duration: .2s;
  -webkit-transition-timing-function: linear;
}
.profile-picture {
  max-width: 100px;
  border: 2px solid #26435F;
  border-radius: 100%;
  margin: auto;
}
.profile-picture {
  border: 2px solid #26435F;
}
.profile-picture img {
  display: block;
}
.small-container {
  display: block;
  max-width: 350px;
  margin: auto;
}
footer {
  padding-bottom: 3.5em;
  color: #5a6f84;
}
footer p {
  text-align: center;
  margin-left: 0px;
}
.bar {
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
}
.bar .color-fill {
  height: 100%;
  width: 100%;
  transition-property: background-color;
  transition-duration: .2s;
  transition-timing-function: linear;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: .2s;
  -webkit-transition-timing-function: linear;
  transform-origin: 0% 0%;
}
.float-left {
  float: left;
  margin: 0;
}
.float-right {
  float: right;
  margin: 0;
}
.inline-block-container {
  display: inline-block;
  width: 100%;
}

/* Accordion */
.accordion {
}
.accordion ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.accordion ul li {
}
.accordion h3 {
  margin-left: 0px;
  text-align: left;
  width: auto;
}
.accordion .accordion-content {
  opacity: 1;
  transition-property: opacity, background-color;
  transition-duration: .2s;
  transition-timing-function: linear;
  -webkit-transition-property: opacity, background-color;
  -webkit-transition-duration: .2s;
  -webkit-transition-timing-function: linear
}

/* Nav Menu */
nav {
  position: fixed;
  width: 100%;
  top: unset;
  bottom: 0;
  padding-top: 1em;
  z-index: 5;
}
nav .container {
  max-width: 800px;
  margin: auto;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
  margin: 0px;
  width: 20%;
}
nav p {
  font-size: 0.9em;
  font-weight: 600;
  margin-bottom: 0px;
  margin-right: 1em;
  display: none;
}
nav a {
  opacity: 0.4;
  text-align: center;
  display: inline-block;
  transition-property: opacity, background-color;
  transition-duration: .2s;
  transition-timing-function: linear;
  -webkit-transition-property: opacity, background-color;
  -webkit-transition-duration: .2s;
  -webkit-transition-timing-function: linear;
}
nav a:hover {
  opacity: 1;
}
nav a.selected {
  opacity: 1;
}
nav a:after {
  height: 5px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  content: "";
  display: block;
  margin-top: 0.4em;
}
nav ul li div {
  display: block;
  text-align: center;
}
/*Vertical Mobile*/
@media only screen and (max-width: 600px) {
}
/*Horizontal Mobile & Tablets*/
@media only screen and (min-width: 601px) and (max-width:1000px) {
}
/*Desktop*/
@media only screen and (min-width: 1001px) {
  nav {
    top: 0;
    bottom: unset;
  }
  nav p {
    display: unset;
  }
}

/* Panels */
.panel {
  border-radius: 10px;
  padding: 5px 20px;
  display: block;
  font-size: 0.8em;
  font-weight: 500;
  max-width: 350px;
  margin: 20px auto 20px auto;
  box-sizing: border-box;
}
.panel p, .panel h3 {
  margin-left: 0px;
  text-align: left;
  width: auto;
}
.panel.selected {
  transition-property: border;
  transition-duration: .2s;
  transition-timing-function: linear;
  -webkit-transition-property: border;
  -webkit-transition-duration: .2s;
  -webkit-transition-timing-function: linear;
}
.panel.special {
  background-color: #40C8C2;
  color: #ffffff;
}
.panel.special h3 {
  color: #ffffff;
}
.panel.special i.material-icons {
  color: #FFFFFF;
}
.panel i.material-icons {
  margin-left: 0px;
}
i.material-icons.carat-right {
  float: right;
  margin-top: 8px;
}
i.material-icons.carat-down {
  float: right;
  margin-top: 8px;
}
.panel i.material-icons.carat-right {
  float: right;
  margin-top: 8px;
  margin-right: -8px;
}
.panel i.material-icons.carat-down {
  float: right;
  margin-top: 8px;
  margin-right: -8px;
}
i.material-icons.carat-left {
  float: left;
  margin-top: 8px;
  margin-left: -8px;
}
i.material-icons.carat-up {
  float: right;
  margin-top: 8px;
}

/* Calendar 'Widget' */
.month {
  max-width: 350px;
  display: block;
  margin: auto;
}
.week {
  max-width: 350px;
  display: block;
  margin: auto;
}
.day {
  box-sizing: border-box;
  display: inline-block;
}
.day div {
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
  transition-property: border;
  transition-duration: .2s;
  transition-timing-function: linear;
  -webkit-transition-property: border;
  -webkit-transition-duration: .2s;
  -webkit-transition-timing-function: linear;
}
.day.today div, .day.first div, .day.last div {
  transition-property: border, background-color;
  transition-duration: .2s;
  transition-timing-function: linear;
  -webkit-transition-property: border, background-color;
  -webkit-transition-duration: .2s;
  -webkit-transition-timing-function: linear;
}
.month .day {
  width: 14.28%;
  padding: 0px 2px;
}
.week .day {
  width: 100%;
  height: 100px;
  margin-bottom: 4px;
  padding: 0px
}
.month .day div {
  padding-top: 95%;;
}
.week .day div {
  height: 100%;
}
.month .day h4 {
  display: none;
}
.week .day h4 {
  margin: 20px 0 0 20px;
}
.week .day:nth-child(n+8) {
  display: none;
}
.month .day.ineligible div, .week .day.ineligible div {
  cursor: auto;
}

/* Icons */
i.material-icons {
  vertical-align: middle;
  margin-right: 0.25em;
  margin-left: 0.25em;
}
i.material-icons::selection {
  background: transparent;
}

/* UI & Switch Toggles */
.collapsed {
  opacity: 0 !important;
}
.panel i.material-icons.expand-collapse {
  font-size: 18px;
  float: right;
  margin-top: 11px;
  margin-right: -8px;
  color: rgba(38, 67, 95, 0.2);
  cursor: pointer;
}
.panel.special i.material-icons.expand-collapse {
  color: rgba(255, 255, 255, 0.4);
}
i.material-icons.week-month {
  opacity: 0.5;
  transition-property: opacity;
  transition-duration: .2s;
  transition-timing-function: linear;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: .2s;
  -webkit-transition-timing-function: linear;
  cursor: pointer;
}
i.material-icons.week-month.toggled {
  opacity: 1;
}

/*Very Small Screens*/
@media only screen and (max-width: 350px) {
  .panel, h4, .month, .week, .small-container {
    margin: 20px 20px 20px 20px;
  }
}
/*Vertical Mobile*/
@media only screen and (max-width: 600px) {
}
/*Horizontal Mobile & Tablets*/
@media only screen and (min-width: 601px) and (max-width:1000px) {
}
/*Desktop*/
@media only screen and (min-width: 1001px) {
}
